apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ .Values.kong.jwtPlugin.name }}
  namespace: {{ .Values.global.namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.kong.ingressClass }}
    konghq.com/tags: ""
config:
  header_names:
    {{- range .Values.kong.jwtPlugin.header_names }}
    - {{ . }}
    {{- end }}
  cookie_names:
    {{- range .Values.kong.jwtPlugin.cookie_names }}
    - {{ . }}
    {{- end }}
plugin: jwt
---
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ .Values.kong.corsPlugin.name }}
  namespace: {{ .Values.global.namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.kong.ingressClass }}
plugin: cors
config:
  origins:
    {{- range .Values.kong.corsPlugin.origins }}
    - {{ . }}
    {{- end }}
  credentials: {{ .Values.kong.corsPlugin.credentials }}
  methods:
    {{- range .Values.kong.corsPlugin.methods }}
    - {{ . }}
    {{- end }}
---
{{- $jwt := include "rac-app.getSecret" (dict "secretName" .Values.kong.consumer.jwtSecretName "secretKey" .Values.kong.consumer.jwtSecretKey "context" .) -}}
{{- if $jwt }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kong.consumer.credentialSecretName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    konghq.com/credential: {{ .Values.kong.consumer.credentialType }}
type: Opaque
stringData:
  kongCredType: {{ .Values.kong.consumer.kongCredType }}
  key: {{ .Values.kong.consumer.key }}
  secret: {{ $jwt | quote }}
  algorithm: {{ .Values.kong.consumer.algorithm }}
{{- end }}
---
apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: {{ .Values.kong.consumer.name }}
  namespace: {{ .Values.global.namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.kong.ingressClass }}
username: {{ .Values.kong.consumer.username }}
{{- if $jwt }}
credentials:
  - {{ .Values.kong.consumer.credentialSecretName }}
{{- end }}
