{{- if .Values.kong.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kong.consumer.credentialSecretName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    konghq.com/credential: {{ .Values.kong.consumer.credentialType }}
type: Opaque
data:
  kongCredType: {{ .Values.kong.consumer.kongCredType | b64enc }}
  key: {{ .Values.kong.consumer.key | b64enc }}
  secret: {{ include "rac-app.getSecret" (dict "secretName" .Values.kong.consumer.jwtSecretName "secretKey" .Values.kong.consumer.jwtSecretKey "context" .) | b64enc }}
  algorithm: {{ .Values.kong.consumer.algorithm | b64enc }}
{{- end }}
